.corporative-section {
  background-color: #282c34;
  color: var(--red);
  border-bottom: double 3px var(--red);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.corporative-section a {
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.corporative-section h2 {
  margin: 0;
}
.corporative-section svg {
  padding: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}
